<div class="wrap-show-advance-info-box style-1">
  <h3 class="title-box"><%= t ".recommend" %></h3>
  <div class="wrap-products">
    <div class="wrap-product-tab tab-style-1">
      <% if @categories.any? %>
        <div class="tab-control">
          <% @categories.each_with_index do |cate, index| %>
            <a href="#cate_<%= cate.id %>" class="tab-control-item <%= "active" if index == 0 %>"><%= cate.name %></a>
          <% end %>
        </div>
        <div class="tab-contents">
          <% @categories.each_with_index do |cate, index| %>
            <div class="tab-content-item <%= "active" if index == 0 %>" id="cate_<%= cate.id %>">
              <div class="wrap-products slide-carousel owl-carousel style-nav-1 equal-container" data-items="5" data-loop="false" data-nav="true" data-dots="false" data-responsive='{"0":{"items":"1"},"480":{"items":"2"},"768":{"items":"3"},"992":{"items":"4"},"1200":{"items":"5"}}' >
                <% if cate.products.take(Settings.num_products).any? then %>
                    <%= render partial: "customer/home/partials/product", collection: cate.products.take(Settings.num_products) %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
