<main id="main" class="main-site">
  <div class="container">
    <div class="wrap-breadcrumb">
      <ul>
      </ul>
    </div>
    <div class=" main-content-area">
      <div class="wrap-iten-in-cart">
        <h3 class="box-title"><%= t ".product_inf" %></h3>
        <ul class="products-cart">
          <% if current_cart.blank? %>
            <div class="container pb-60">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div>
                  <%= image_tag "images/emptycart.png", alt: "empty cart", class: "mpt-cart" %>
                  </div>
                  <%= link_to t(".shopping_now"), menu_path, class:"btn btn-submit btn-submitx", "data-turbolinks": "false" %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="row p-5">
              <div class="col-md-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="border-0 text-uppercase small font-weight-bold"></th>
                      <th class="border-0 text-uppercase small font-weight-bold">
                        <div class="product-name">
                          <%= t ".name_product" %>
                        </div>
                      </th>
                      <th class="border-0 text-uppercase small font-weight-bold">
                        <div class="price-field produtc-price">
                          <%= t ".price" %></p>
                        </div>
                      </th>
                      <th class="border-0 text-uppercase small font-weight-bold">
                        <div class="price-field produtc-price">
                          <%= t ".quantity" %></p>
                        </div>
                      </th>
                      <th class="border-0 text-uppercase small font-weight-bold">
                        <div class="price-field sub-total">
                          <%= t ".total_price" %></p>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <%= render partial: "customer/orders/product", collection: @products %>
                </table>
              </div>
            </div>
            <div class="d-flex flex-row-reverse bg-light text-dark p-4">
              <div class="py-3 px-5 text-right">
                <div class="h2 font-weight-light"><%= t ".total" %><%=  number_to_currency(cart_total, locale: :vi) %></div>
            </div>
            <div class="summary summary-checkout">
              <div class="summary-item payment-method">
                <h4 class="title-box"><%= t ".user_inf" %></h4>
              <div class="row pb-5 p-5">
                  <div class="col-md-4">
                    <h4 class="mb-1"><%= t ".name" %>:</h4>
                    <h4 class="mb-1"><%= t ".phone" %>:</h4>
                    <h4 class="mb-1"><%= t ".address" %>:</h4>
                  </div>
                  <div class="col-md-8">
                    <h4 class="mb-1"><%= @order.user.name %></h4>
                    <h4 class="mb-1"><%= @order.user.phone  %></h4>
                    <h4 class="mb-1"><%= @order.user.address  %></h4>
                  </div>
                </div>
              </div>
              <div class="summary-item shipping-method">
                <h4 class="title-box f-title"><%= t(".note") %></h4>
                <%= form_with(url: user_orders_path(id: current_user.id), method: :post) do |f| %>
                      <div class="form-outline mb-4">
                        <%= f.text_area :note, class: "form-control" %>
                      </div>
                      <hr>
                    <%= f.submit t(".btn_submit"), class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
