<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1><%= t ".order" %></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="row pb-5 p-5">
            <div class="col-md-2">
              <h4 class="mb-1"><%= t ".name" %>:</h4>
              <h4 class="mb-1"><%= t ".created_order" %>:</h4>
              <h4 class="mb-1"><%= t ".status" %>:</h4>
              <h4 class="mb-1"><%= t ".phone" %>:</h4>
              <h4 class="mb-1"><%= t ".address" %>:</h4>
              <h4 class="mb-1"><%= t ".note" %>:</h4>
            </div>
            <div class="col-md-10">
              <h4 class="mb-1"><%= @order.user.name %></h4>
              <h4 class="mb-1"><%= @order.created_at.strftime(Settings.date_format) %></h4>
              <h4 class="mb-1">
                <span class="badge <%= Settings.send(@order.status) %>">
                  <%= t("status_order.#{@order.status}") %>
                </span>
              </h4>
              <h4 class="mb-1"><%= @order.user_phone %></h4>
              <h4 class="mb-1"><%= @order.user_address %></h4>
              <h4 class="mb-1"><%= @order.note %></h4>
            </div>
          </div>
          <div class="row p-5">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th class="border-0 text-uppercase small font-weight-bold"></th>
                    <th class="border-0 text-uppercase small font-weight-bold"><%= t ".name_product" %></th>
                    <th class="border-0 text-uppercase small font-weight-bold"><%= t ".price" %></th>
                    <th class="border-0 text-uppercase small font-weight-bold"><%= t ".quantity" %></th>
                    <th class="border-0 text-uppercase small font-weight-bold"><%= t ".total_price" %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @order_details.each do |detail| %>
                    <tr>
                      <td><%= image_tag detail.product.images[0] , style:"weight:80px; height:80px;" %></td>
                      <td>
                        <%= link_to product_path(detail.product) do %>
                          <span><%= detail.product.name %></span>
                        <% end %>
                      </td>
                      <td><%= number_to_currency(detail.price, locale: :vi) %></td>
                      <td><%= detail.quantity %></td>
                      <td><%= number_to_currency(detail.price*detail.quantity, locale: :vi) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="d-flex flex-row-reverse bg-light text-dark p-4">
            <div class="py-3 px-5 text-right">
              <div class="h2 font-weight-light"><%= t ".total" %><%=  total_price(@order) %></div>
            </div>
            <%= link_to t(".back"), user_orders_path, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 mb-5"></div>
</div>
