<div class="wrap-breadcrumb">
  <ul>
    <li class="item-link"><a href="#" class="link">home</a></li>
    <li class="item-link"><span>detail</span></li>
  </ul>
</div>
<div class="row">
  <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 main-content-area">
    <div class="wrap-product-detail">
      <div class="detail-media">
        <div class="product-gallery">
          <ul class="slides">
            <% if @product.images.attached? then %>
            <% @product.images.each do |image|%>
            <li data-thumb="<%= url_for(image) %>">
              <img src="<%= url_for(image) %>" alt="product thumbnail" class="detail-img"/>
            </li>
            <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="detail-info">
        <div class="product-rating">
          <b style="font-size: 130%; margin-right: 5px"><%= stars_avg @product %> </b>
          <div class="star-rating">
              <span class="width-<%= stars_to_percent stars_avg(@product).ceil %>-percent"></span>
          </div>
          <a href="#" class="count-review">(<%= @product.ratings.count %> <%= t ".review" %>)</a>
        </div>
        <h2 class="product-name"><%= @product.name %></h2>
        <div class="wrap-social">
          <a class="link-socail" href="#"><img src="assets/images/social-list.png" alt=""></a>
        </div>
        <div class="wrap-price"><span class="product-price"><%= price_format @product.price %></span></div>
        <div class="stock-info in-stock">
          <p class="availability"><%= t ".avai" %> <%= @product.stock_quantity %> <b><%= t ".in_stock" %></b></p>
        </div>
        <%= form_with(url: carts_path(id: @product.id ), html: {class:"add-to-cart", :'data-id' => @product.id} ) do |f| %>
          <div class="quantity">
            <span><%= t ".qty" %></span>
            <div class="quantity-input">
              <input type="text" name="product-quatity" id="<%= "product_quantity_".concat(@product.id.to_s) %>" value="1" data-max="120" pattern="[0-9]*" >
              <a class="btn btn-reduce" href="#"></a>
              <a class="btn btn-increase" href="#"></a>
            </div>
          </div>
          <div class="wrap-butons">
          <%= f.submit t(".add_cart"), class: "menu-add-to-cart", id: "submit-add-to-cart" %>
          </div>
        <% end %>
      </div>
      <div class="advance-info">
        <div class="tab-control normal">
          <a href="#description" class="tab-control-item active"><%= t ".description" %></a>
          <a href="#review" class="tab-control-item"><%= t ".reviews" %></a>
        </div>
        <div class="tab-contents">
          <div class="tab-content-item active" id="description">
            <p><%= @product.description %></p>
          </div>
          <div class="tab-content-item " id="review">

            <div class="wrap-review-form">

              <div id="comments">
                <h2 class="woocommerce-Reviews-title"><%= @product.ratings.count %> <%= t ".review_for" %> <span><%= @product.name %></span></h2>
                <ol class="commentlist">
                    <%= render partial: "customer/ratings/post", collection: @posts %>
                </ol>
                <%== pagy_bootstrap_nav(@pagy_review) %>
              </div><!-- #comments -->

              <div id="review_form_wrapper">
                <div id="review_form">
                  <div id="respond" class="comment-respond">
                    <%= form_with(url: ratings_path(id: @product.id), html:{id: "commentform", class: "comment-form"}) do |f| %>
                      <div class="comment-form-rating">
                        <span><%= t ".your_rating" %></span>
                        <p class="stars">

                          <label for="rated-1"></label>
                          <input type="radio" id="rated-1" name="rating" value="1">
                          <label for="rated-2"></label>
                          <input type="radio" id="rated-2" name="rating" value="2">
                          <label for="rated-3"></label>
                          <input type="radio" id="rated-3" name="rating" value="3">
                          <label for="rated-4"></label>
                          <input type="radio" id="rated-4" name="rating" value="4">
                          <label for="rated-5"></label>
                          <input type="radio" id="rated-5" name="rating" value="5" checked="checked">
                        </p>
                      </div>
                      <p class="comment-form-comment">
                        <label for="comment"><%= t ".your_review" %></label>
                        <textarea id="comment" name="comment" cols="45" rows="8"></textarea>
                      </p>
                      <p class="form-submit">
                        <%= f.submit t(".post"), class: "submit", id: "submit" %>
                      </p>
                    <% end %>

                  </div><!-- .comment-respond-->
                </div><!-- #review_form -->
              </div><!-- #review_form_wrapper -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--end main products area-->

  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 sitebar">
    <div class="widget widget-our-services ">
      <div class="widget-content">
        <ul class="our-services">

          <li class="service">
            <a class="link-to-service" href="#">
              <i class="fas fa-truck" aria-hidden="true"></i>
              <div class="right-content">
                <b class="title"><%= t ".free_ship" %></b>
                <span class="subtitle"><%= t ".on_over" %></span>
              </div>
            </a>
          </li>

          <li class="service">
            <a class="link-to-service" href="#">
              <i class="fas fa-gift" aria-hidden="true"></i>
              <div class="right-content">
                <b class="title"><%= t ".special_offer" %></b>
                <span class="subtitle"><%= t ".gift" %></span>
              </div>
            </a>
          </li>

          <li class="service">
            <a class="link-to-service" href="#">
              <i class="fa-solid fa-headset" aria-hidden="true"></i>
              <div class="right-content">
                <b class="title"><%= t ".support" %></b>
                <span class="subtitle"><%= t ".listen" %></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%= render "customer/home/partials/related_products" %>
</div>
