<% provide(:title, current_user.name) %>
<div class="row">
  <section class="inner-page-hero bg-image">
    <div class="profile">
      <div class="container">
        <h1><%= t ".page" %></h1>
        <br>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 profile-img">
            <div class="image-wrap" >
              <figure><%= gravatar_for @user %></figure>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 profile-desc">
              <div class="pull-left right-text white-txt">
                <h2><%= t ".name" %><%= @user.name %></h2>
                <ul class="nav nav-inline">
                  <h3><li class="nav-item"><%= t ".address" %><%= @user.address %></li></h3>
                  <h3><li class="nav-item"><%= t ".phone_number" %><%= @user.phone %></li></h3>
                  <h3><li class="nav-item"><%= t ".email" %><%= @user.email %></li></h3>
                </ul>
              </div>
          </div>
        <%= link_to t(".edit"), edit_user_path(@user), class: "btn btn-success btn-lg" %>
      </div>
    </div>
  </section>
</div>
