<li class="pr-cart-item">
  <div class="product-image">
    <figure><%= image_tag product.images[0] %></figure>
  </div>
  <div class="product-name">
    <%= link_to product.name, product_path(product) %>
  </div>
  <div class="price-field produtc-price"><p class="price"><%= price_format product.price %></p></div>
  <div class="quantity">
    <div class="quantity-input">
      <input type="text" name="product-quatity" id=<%= "item-quantity_".concat(product.id.to_s) %> value="<%= qty product %>" data-max="120" pattern="[0-9]*" >
      <%= content_tag :a, class: "btn btn-increase change-quantity", data: {id: product.id, url: cart_path(product)} do %><% end %>
      <%= content_tag :a, class: "btn btn-reduce change-quantity", data: {id: product.id, url: cart_path(product)} do %><% end %>
    </div>
  </div>
  <div class="price-field sub-total"><p class="price" id=<%= "item-sub-total_".concat(product.id.to_s) %> ><%= price_format sub_total(product.id) %></p></div>
  <div class="delete">
    <%= content_tag :a, id: "cart-item-destroy", class: "btn btn-delete",
                         data: {id: product.id, url: cart_path(product)} do %>
      <i class="fas fa-times-circle" aria-hidden="true"></i>
    <% end %>
  </div>
</li>
