<div class="wrap-breadcrumb">
  <ul>
    <li class="item-link"><a href="#" class="link">home</a></li>
    <li class="item-link"><span>login</span></li>
  </ul>
</div>
<div class=" main-content-area">

  <div class="wrap-iten-in-cart">
    <h3 class="box-title"><%= t ".products_name" %></h3>
    <ul class="products-cart">
      <% if current_cart.blank? %>
        <div class="row p-5">
          <h2><%= t ".empty" %></h2>
        </div>
      <% else %>
        <%= render partial: "product", collection: @products %>
      <% end %>
    </ul>
  </div>

  <div class="summary">
    <div class="order-summary">
      <h4 class="title-box"><%= t ".order_summary" %></h4>
      <p class="summary-info"><span class="title"><%= t ".shipping" %></span><b class="index"><%= t ".free_shipping" %></b></p>
      <p class="summary-info total-info "><span class="title"><%= t ".total" %>(<%= items_count %>)</span><b class="index" id="cart-total"><%= price_format cart_total %></b></p>
    </div>
    <div class="checkout-info">
      <div class="row">
        <div class="col-md-4">
          <%= link_to t(".clear_cart"), clear_carts_path, class: "btn btn-checkout" %>
        </div>
        <div class="col-md-8">
          <% if logged_in? %>
            <%= link_to t(".checkout"), new_user_order_path(current_user), class:"btn btn-checkout" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div><!--end main content area-->
