<!DOCTYPE html>
<html>
  <head>
    <title>Shop food</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="home-page home-01" >
    <main id="main">
      <div class="container">
        <%= raw custom_bootstrap_flash %>
        <%= render "customer/shared/header" %>
        <%= yield %>
        <%= render "customer/shared/footer" %>
      </div>
    </main>
  </body>
</html>
